.hidden{
  width:0px;
  height:0px;
  display:none;
}
.visible{
  width:100%;
  height:100%;
  display:block;
}
.nav{
  transform-style:preserve-3d;
  background:white;
  margin:0px;
  padding:0px;
  position:relative;
  border-bottom:solid 1px black;
}/*
.nav::before{
  content:"";
  position:absolute;
  inset:-2px;
  transform:translate3d(2px, 8px, -1px);
  background:conic-gradient(from 1080deg, #AB0520,  #0C234B);
  filter:blur(10px);
}*/

