
.nav{
  transform-style:preserve-3d;
}
.nav::before{
  content:"";
  position:absolute;
  inset:-5px;
  transform:translate3d(10px, 8px, -1px);
  background:/*...*/;
  filter:blur(10px);
}
.container {
  display: grid;
  grid-template: "container" 1fr;
  place-items: center;
  place-content: center;
  overflow: hidden;
  height:100%;
}

.container > * {
  grid-area: container;
  max-width: 1000px;
}

.title {
  place-self: start center;
}

.carousel-control.prev {
  place-self: center left;
  left:-5rem;
}

.carousel-control.next {
  place-self: center right;
  right:-15rem;
}

.carousel-dots {
  place-self: end center;
}

/* Other element styles */

* {
  box-sizing: border-box;
}

body {
  --space: 6rem;
  color:white;
  background: #333;
  display: grid;
  place-items: center;
  padding: var(--space) 0;
  grid-gap: var(--space);
  font-family: "Helvetica", sans-serif;
  line-height: 1.2;
  height:100%;
}


.container {
  --border: 4px dashed dodgerblue;
  position: relative;
  border-top: var(--border);
  border-bottom: var(--border);
  margin: 0 auto;
  width: 100%;
  height:100%;
  color: white;
}


.carousel-viewport {
  position: relative;
  margin: 0 auto;
  min-width: 100%;
  height:100%;
}

.carousel-control {
  --size: clamp(2.5rem, 10vw, 4rem);

  position: relative;
  cursor: pointer;
  display: flex;
  align-content: center;
  justify-content: center;
  color: white;
  fill: currentcolor;
  background: dodgerblue;
  border: none;
  width: var(--size);
  height: var(--size);
  padding: 0.25rem;
  touch-action: manipulation;
  transform: translateY(0);
}


.carousel-control svg {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.carousel-dots {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

.carousel-dots .dot {
  --size: 1rem;
  padding: 0;
  font-size: 0;
  color: transparent;
  border: 3px solid white;
  background-color: white;
  border-radius: 50%;
  width: var(--size);
  height: var(--size);
}

.carousel-dots .dot.active {
  background-color: dodgerblue;
}

/* aspect-ratio fallback */
@supports not (aspect-ratio: 16 / 9) {
  .carousel-viewport .item::before {
    content: "";
    float: left;
    padding-top: 56.25%;
  }

  .carousel-viewport .item::after {
    content: "";
    display: block;
    clear: both;
  }
}